body {
    font-family: Arial;
    margin: 0;
}

header {
    background: lightgray;
    padding: 10px;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: black;
}

#intro {
    min-height: 50vh;
    padding: 20px;
}

#places {
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

article {
    border: 1px solid black;
    padding: 10px;
}

#contact {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 100%;
}

input,
textarea,
button {
    margin-bottom: 10px;
    padding: 5px;
}

footer {
    background: lightgray;
    padding: 20px;
    text-align: center;
}




@media (max-width: 900px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}



#menu {
    display: none;
}

.hamburger {
    display: none;
}

@media (max-width: 600px) {

    .hamburger {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
    }

    #menu:checked ~ nav {
        display: flex;
    }

    .cards {
        grid-template-columns: 1fr;
    }

}